@page
@model NSFWpics.Pages.adminpanel.AdminPanelLogedModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminPanelLoged</title>
</head>
<body>
</body>
</html>
