@page
@model NSFWpics.Pages.aditional.aboutModel
@{
    ViewData["Title"] = "about";
}
<br />
<h2>About us &amp; legal</h2>
<br />
<blockquote>We'd like to provide easy to use imageboard with best quality content for adults, where you can vote and decide what stays on main site, and what not. We provide content for free and we run ads which helps us a bit in paying for servers, but it's not enough, so we're always open for small tips for servers and improvements! Thanks in advance!</blockquote>
<div class="container center-align " style="height:50px;">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="7PGED82UXFRKQ">
        <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/pl_PL/i/scr/pixel.gif" width="1" height="1">
    </form>
</div>
<h3>Rules</h3>
<br />
<h4>We allow</h4>
<blockquote>Images with: adult womans, adult mans, fetish, BDSM(but not rapes which is prohibited and illegal), law neutral pictures and videos</blockquote>
<br />
<h4>We disallow</h4>
<blockquote>Prohibited and illegal content as child porn, murders with purpose, abortion, hate speech, kids, special violence</blockquote>
<blockquote>We may delete content as: absolutely disgusting stuff, content inapropiate for this site like memes, funny movies, kitties etc.</blockquote>
<br />
