@page
@model NSFWpics.Pages.aditional.jobsModel
@{
    ViewData["Title"] = "jobs";
}

<h2>Jobs</h2>
<h4>We doesn't hire at the moment, but in case of other questionc contact us on <a href="http://nsfwpics.pw/aditional/ads">business contact form</a></h4>
<div class=" container center-align">
    <br /><br />
    <a href="http://www.exoclick.com/?login=kubawich"><img src="http://www.exoclick.com/banners/700x90.gif" border="0"></a>
    <script type="text/javascript">
        var ad_idzone = "2960676",
            ad_frequency_period = 5;
    </script>
    <script type="text/javascript" src="https://ads.exosrv.com/billboard.js"></script>
</div>


