@page "{id:int?}"
@model NSFWpics.Pages.NewFolder.viewModel
@{
    ViewData["Title"] = "view";
}
<div id="app">
    <div class="container center-align">
        <div class="row z-depth-5" id="content_element">
            <h4 class="col left ">#@Model.Id</h4>
            <span id="feed" class="col right">
                <span id="points">{{ points }}</span>
                <button v-on:click="points += 1" class="btn-floating btn-large waves-effect waves-light light-green"><i class="material-icons">thumb_up</i></button>
                <button v-on:click="points -= 1" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">thumb_down</i></button>
            </span>
            <br /><br />
            <img class="materialboxed col center-align " src="@Model.Con" />
            <br /><br /><br /><br />
        </div>
    </div>
</div>
