body {
    background-color: #ffede8;
    font-family:Roboto;
    font-weight:lighter;
}

img {
    height: auto;
    width: 100%;
    padding-right: 20%;
}

nav {
    margin-bottom: 20px;
}

#feed {
    margin-bottom: 20px;
    padding-right: 2em;
}

.btn-floating.btn-large {
    width: 48px;
    height: 48px;
}

    .btn-floating.btn-large i {
        line-height: 48px;
    }

.btn-large i {
    font-size: 1.4rem;
}

#points {
    margin: 0 1em 0 0;
    font-size: xx-large;
}

#content_element {
    background-color: gray;
    margin: 15px auto;
    padding: 20px 0px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: hsl(0, 69%, 67%);
}

#h {
    font-size: xx-large;
    padding-top: 5px;
    padding-left: 1em;
}

i {
    font-size: 10px;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.hide {
    visibility: hidden;
}

#footer_tags {
    text-shadow: 0 1px hsl(0, 69%, 60%);
    font-size: 8px;
    font-weight: bold;
    color: hsl(0, 69%, 78%)
}
