@media screen and (max-width: 600px) {
    img {
        height:auto;
        max-width: 200px;
        min-width: 180px;
    }
}

img {
    height:auto;
    max-width:600px;
    min-width:550px;
}
nav {
    margin-bottom:20px;
}