body {
    background-color: #ffede8;
}
@media only screen and (max-width: 500px) {
    img {
        max-width: 100%;
        height:auto;
        width: 600px;
    }
}

img {
    height: auto;
    width: 100%;
    max-width: 700px;
    padding-right: 20%;
}
nav {
    margin-bottom:20px;
}

#feed {
    margin-bottom:20px;
}

#points {
    margin: 0 1em 0 0;
    font-size:xx-large;
}

#content_element {
    background-color: gray;
    margin: 15px auto;
    padding: 40px 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #e57373;
}

#h {
    font-size:xx-large;
}

i {
    font-size:10px;
}