<!DOCTYPE html>
<html lang="en">
<head lang="en">
    <meta charset="utf-8" />
    <meta lang="en-gb" />
    <meta name="msvalidate.01" content="68B8B05C503391F05D66D1C53EDB7346" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="publisher" href="www.linkedin.com/in/jakubwichlinski">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="canonical" href="http://nsfwpics.pw/">
    <link rel="amphtml" href="http://nsfwpics.pw/amp/">
    <meta name="msvalidate.01" content="68B8B05C503391F05D66D1C53EDB7346" />
    <link rel="first" href="http://nsfwpics.pw/">
    <link rel="last" href="http://nsfwpics.pw/1051">
    <link rel="next" href="http://nsfwpics.pw/2">
    <meta name="google-site-verification" content="6_-Uwc8amjDv5cGAY3iIdLFrBfR3TJgBaBcdT1E3kaY" />
    <meta name="theme-color" content="#e57373">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="description" content="Looking for some relax with hot NSFW pictures? It's perfect place for You! #nsfw #hot #adult #images">
    <meta name="keywords" content="NSFW, porn, boobs, relax, pictures, hot, naked, images, 18+, nudity, womens, females, girls, nsfw, pics, tumblr, feets, nude, celeb, pornhub, porno, reddit, xvideos, nsfwpics, nsfw pics, pw, nsfw gif, nsfw streamable" />
    <meta name="rating" content="mature">
    <link rel="icon" sizes="192x192" href="~/ico.ico">
    <link rel="apple-touch-icon" href="~/ico.ico">
    <meta name="apple-mobile-web-app-title" content="NSFWpics">
    <link rel="mask-icon" href="http://185.28.102.194/img/14.png" color="blue">
    <meta property="og:description" content="Looking for some relax with hot NSFW pictures? It's perfect place for You!">
    <meta property="article:author" content="Jakub Wichliski">
    <meta property="og:image" content="http://185.28.102.194/img/13.png">
    <meta property="og:locale" content="en_US">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@@KubaWichlinski">
    <meta name="twitter:creator" content="@@KubaWichlinski">
    <meta name="twitter:url" content="http://nsfwpics.pw">
    <meta name="twitter:title" content="NSFW pics">
    <meta name="twitter:description" content="Looking for some relax with hot NSFW pictures? It's perfect place for You!">
    <meta name="twitter:image" content="http://185.28.102.194/img/14.png">
    <meta name="exoclick-site-verification" content="684813c1629a34939db8c8d7a6d894f2">
    <link rel="me" href="mailto:kubawich45@gmail.com">
    <link rel="manifest" href="~/js/manifest.json">
    <base href="http://nsfwpics.pw/">
    <title>@ViewData["Title"] - NSFWpics</title>
    <script defer src='https://www.google.com/recaptcha/api.js'></script>
    <environment include="Development">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114739201-1"></script>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-114739201-1');
        </script>
        <!--<script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>-->
        <script  src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="~/css/site.min.css" />
    </environment>
    <environment exclude="Development">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114739201-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-114739201-1');
        </script>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script  src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script defer src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>

        <!--Exit add-->
        <script type="text/javascript">
            var ad_idzone = "2940816",
                ad_frequency_period = 60,
                ad_frequency_count = 1,
                ad_trigger_type = 1,
                ad_width = "300",
                ad_height = "250";
        </script>
        <script src="https://ads.exosrv.com/mobile-interstitial.js"></script>
        <script type="text/javascript">
            var ad_idzone = "2940818",
                ad_frequency_period = 1440,
                ad_frequency_count = 1,
                ad_trigger_method = 3;
        </script>
        <script type="text/javascript" src="https://ads.exosrv.com/popunder1000.js"></script>
        <!--Ads end-->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="~/css/site.min.css" />
    </environment>
</head>
<body>
    <div class="navbar-fixed">
        <nav class="navbar navbar-inverse navbar-fixed-top z-depth-2">
            <div class="container nav-wrapper">               
                <div class="fixed-action-btn toolbar hide-on-large-only show-on-med-and-down">
                    <a class="btn-floating btn-large red">
                      <i class="large material-icons">menu</i>
                    </a>
                    <ul>
                        <li><a asp-page="/Add" >Add</a></li>
                        <li><a asp-page="/Best" >Best</a></li>
                        <li><a asp-page="/Random" >Random</a></li>
                        <li><a  onclick="Materialize.toast('This page is unavailable becasue there\'s no waiting pictures at the moment', 4000)">Waiting</a></li>
                    </ul>
              </div>
                <span class="col s-2"></span>
                <a href="http://nsfwpics.pw" class="brand-logo col s-6 waves-effect waves-light">NSFWpics</a>
                <div class="right hide-on-med-and-down">
                    <a asp-page="/Add" class="waves-effect waves-light red lighten-3 btn">Add</a>
                    <a asp-page="/Best" class="waves-effect waves-light red lighten-3 btn">Best</a>
                    <a asp-page="/Random" class="waves-effect waves-light red lighten-3 btn">Random</a>
                    <button class="waves-effect waves-light red lighten-3 btn  tooltipped" data-position="bottom" data-delay="50" data-tooltip="This page is unavailable becasue there's no waiting pictures at the moment">Waiting</button>
                </div>
            </div>
        </nav>mater
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6">
                    <h5 class="white-text">NSFW Pics</h5>
                    <p class="grey-text text-lighten-4">Nothing interesting here at all</p>
                    <p id="footer_tags">But if We're here already, here's some tags: NSFW, porn, boobs, relax, pictures, hot, naked, images, 18+, nudity, womens, females, girls, nsfw, pics, tumblr, feets, nude, celeb, pornhub, porno, reddit, xvideos, nsfwpics, nsfw pics, pw, nsfw gif, nsfw streamable</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="http://nsfwpics.pw/aditional/contact">Contact</a></li>
                        <li><a class="grey-text text-lighten-3" href="http://nsfwpics.pw/aditional/about">About us &amp legal</a></li>
                        <li><a class="grey-text text-lighten-3" href="http://nsfwpics.pw/aditional/ads">Advertisement and bussiness</a></li>
                        <li><a class="grey-text text-lighten-3" href="http://nsfwpics.pw/aditional/jobs">Jobs</a></li>
                    </ul>
                </div>                
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2018 <a href="https://www.linkedin.com/in/jakubwichlinski/">Jakub Wichliński</a> All rights reserved
                <a class="grey-text text-lighten-4 right" href="http://nsfwpics.pw">Go to top page</a>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script defer src="~/js/vue.js"></script>
        <script defer src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script src="~/js/vue.js" crossorigin="anonymous"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
