<!DOCTYPE html>
<html lang="en">
<head lang="en">
	<meta charset="utf-8" />
	<meta lang="en-gb" />
	<meta name="msvalidate.01" content="68B8B05C503391F05D66D1C53EDB7346" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="publisher" href="http://www.linkedin.com/in/jakubwichlinski">
	<link rel="me" href="http://www.linkedin.com/in/jakubwichlinski" type="text/html">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<link rel="canonical" href="https://nsfwpics.pw/">
	<link rel="index" href="https://nsfwpics.pw/">
	<link rel="first" href="https://nsfwpics.pw/">
	<link rel="next" href="https://nsfwpics.pw/2">
	<link rel="dns-prefetch" href="\fonts.googleapis.com">
	<link rel="dns-prefetch" href="\cdnjs.cloudflare.com">
	<link rel="dns-prefetch" href="\www.googletagservices.com">
	<link rel="dns-prefetch" href="\partner.googleadservices.com">
	<link rel="dns-prefetch" href="\tpc.googlesyndication.com">
	<link rel="dns-prefetch" href="\pagead2.googlesyndication.com">
	<link rel="dns-prefetch" href="\www.google.com">
	<link rel="dns-prefetch" href="\static.doubleclick.net">
	<link rel="dns-prefetch" href="\googleads.g.doubleclick.net">
	<link rel="dns-prefetch" href="\scontent-frt3-1.xx.fbcdn.net">
	<meta name="google-site-verification" content="6_-Uwc8amjDv5cGAY3iIdLFrBfR3TJgBaBcdT1E3kaY" />
	<meta name="theme-color" content="#e57373">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="description" content="Looking for some relax with hot NSFW pictures? It's perfect place for You! #nsfw #hot #adult #images">
	<meta name="keywords" content="NSFW, porn, boobs, relax, pictures, hot, naked, images, 18+, nudity, womens, females, girls, nsfw, pics, tumblr, feets, nude, celeb, pornhub, porno, reddit, xvideos, nsfwpics, nsfw pics, pw, nsfw gif, nsfw streamable" />
	<meta name="rating" content="General">
	<link rel="icon" sizes="192x192" href="https://nsfwpics.pw/ico_192.png">
	<link rel="icon" sizes="96x96" href="https://nsfwpics.pw/ico_96.png">
	<link rel="icon" sizes="48x48" href="https://nsfwpics.pw/ico_48.png">
	<link rel="apple-touch-icon" href="https://nsfwpics.pw/ico_192.png">
	<link rel="apple-touch-startup-image" href="https://185.28.102.194/img/13.png">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="NSFWpics">
	<link rel="mask-icon" href="https://cdn.nsfwpics.pw/img/232.jpg" color="blue">
	<meta property="og:url" content="https://nsfwpics.pw" />
	<meta property="og:title" content="NSFWpics worldwide 18+ imageboard" />
	<meta property="og:description" content="Looking for some relax with hot NSFW pictures? It's perfect place for You!">
	<meta property="article:author" content="Jakub Wichliski">
	<meta property="og:image" content="https://cdn.nsfwpics.pw/img/232.jpg">
	<meta property="og:locale" content="en_US">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@@KubaWichlinski">
	<meta name="twitter:creator" content="@@KubaWichlinski">
	<meta name="twitter:url" content="https://nsfwpics.pw">
	<meta name="twitter:title" content="NSFW pics">
	<meta name="twitter:description" content="Looking for some relax with hot NSFW pictures? It's perfect place for You!">
	<meta name="twitter:image" content="https://cdn.nsfwpics.pw/img/232.jpg">
	<meta name="exoclick-site-verification" content="684813c1629a34939db8c8d7a6d894f2">
	<link rel="me" href="mailto:kubawich45@gmail.com">
	<link rel="manifest" href="https://nsfwpics.pw/manifest.json">
	<title>NSFWpics sexy girls - @ViewData["Title"]</title>
	<environment include="Development">
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114739201-1"></script>
		<script async src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="~/css/site.css" />
	</environment>
	<environment exclude="Development">
		<base href="https://nsfwpics.pw/">
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114739201-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('js', new Date());

			gtag('config', 'UA-114739201-1');
		</script>
		<script async src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://nsfwpics.pw/css/site.min.css" />
	</environment>
	<script src="https://nsfwpics.pw/js/blazy.js"></script>
</head>
<body>
	<div class="navbar-fixed">
		<nav class="navbar navbar-inverse navbar-fixed-top z-depth-2">
			<div class="container nav-wrapper">
				<!--SMALL NAV-->
				<div class="fixed-action-btn toolbar hide-on-large-only show-on-med-and-down">
					<a class="btn-floating btn-large " style="background-color:#FF8080;">
						<i class="large material-icons">menu</i>
					</a>
					<ul style="font-weight:bold; color:#ffffff;" id="add_nav_small">
						<li><a class=" modal-trigger" href="#modal1" id="siteName">Main</a></li>
						<li><a href="/Best">Best</a></li>
						<li><a href="/Random">Random</a></li>
						<li class="login_nav_big"><a href="/Login">Login</a></li>
						<!--Choose page type modal-->
						<div id="modal1" class="modal" style="width:300px;">
							<div class="modal-content" style="text-align:center">
								<h4 style="color:black">Choose site</h4>
								<p style="line-height: 40px">
									<label>
										<input class="with-gap" name="group1" type="radio" onclick="ChangeSite('')" id="siteMain" />
										<span style="color:black">Main page</span>
									</label>
								</p>
								<p style="line-height: 40px">
									<label>
										<input class="with-gap" name="group1" type="radio" onclick="ChangeSite('queue')" id="siteQueue" />
										<span style="color:black">Waiting</span>
									</label>
								</p>
							</div>
						</div>
					</ul>
				</div>
				<!--BIG NAV-->
				<span class="col s-2"></span>
				<a href="http://nsfwpics.pw" class="brand-logo col s-6 waves-effect waves-light">NSFWpics</a>
				<div class="right hide-on-med-and-down " id="add_nav_big">
					<!--Choose page type-->
					<a class="waves-effect waves-light red lighten-3 btn-small modal-trigger" href="#modal2" id="siteNameBig">Main</a>
					<!--Choose page type modal-->
					<div id="modal2" class="modal" style="width:300px;">
						<div class="modal-content" style="text-align:center">
							<h4 style="color:black">Choose site</h4>
							<p style="line-height: 40px">
								<label>
									<input class="with-gap" name="group1" type="radio" onclick="ChangeSite('')" id="siteMainBig" />
									<span style="color:black">Main page</span>
								</label>
							</p>
							<p style="line-height: 40px">
								<label>
									<input class="with-gap" name="group1" type="radio" onclick="ChangeSite('queue')" id="siteQueueBig" />
									<span style="color:black">Waiting</span>
								</label>
							</p>
						</div>
					</div>
					<!--Rest of big nav-->
					<a href="/Best" class="waves-effect waves-light red lighten-3 btn-small">Best</a>
					<a href="/Random" class="waves-effect waves-light red lighten-3 btn-small">Random</a>
					<a href="/Login" style="margin-left:3em;" class="login_nav_big waves-effect waves-light red lighten-3 btn-small" id="LoginPage">Login</a>
				</div>
			</div>
		</nav>
	</div>
	<div class="container body-content">
		@RenderBody()
	</div>
	<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col l5">
					<h5 class="white-text">NSFW Pics</h5>
					<p class="grey-text text-lighten-4">Nothing interesting here at all</p>
					<p id="footer_tags">But if We're here already, here's some tags: NSFW, porn, boobs, relax, pictures, hot, naked, images, 18+, nudity, womens, females, girls, nsfw, pics, tumblr, feets, nude, celeb, pornhub, porno, reddit, xvideos, nsfwpics, nsfw pics, pw, nsfw gif, nsfw streamable</p>
				</div>
				<div class="col l3 offset-l2 s5 offset-s5">
					<h5 class="white-text">Links</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="https://nsfwpics.pw/aditional/contact">Contact</a></li>
						<li><a class="grey-text text-lighten-3" href="https://nsfwpics.pw/aditional/about">About us &amp legal</a></li>
						<li><a class="grey-text text-lighten-3" href="https://nsfwpics.pw/aditional/ads">Advertisement and bussiness</a></li>
						<li><a class="grey-text text-lighten-3" href="https://nsfwpics.pw/aditional/jobs">Jobs</a></li>
					</ul>

				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				© 2018 <a href="https://jakub.wichlinski.pl/">Jakub Wichliński</a> All rights reserved
				<a class="grey-text text-lighten-4 right" href="https://nsfwpics.pw">Go to top page</a>

			</div>
		</div>
	</footer>
	<script id="dsq-count-scr" src="https://nsfwpics.disqus.com/count.js" async></script>
	<environment include="Development">
		<script src="/js/Cookies.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="https://nsfwpics.pw/js/materialize.min.js"></script>
	</environment>
	<environment exclude="Development">
		<script src="/js/Cookies.js"></script>
		<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
				  asp-fallback-src="https://nsfwpics.pw/lib/jquery/dist/jquery.min.js"
				  asp-fallback-test="window.jQuery"
				  crossorigin="anonymous"
				  integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
		</script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="https://nsfwpics.pw/js/materialize.min.js"></script>
	</environment>
	<script src="/js/site.js"></script>
	<script>
		//blazy
		; (function () {
			var bLazy = new Blazy({ offset: 500 });
		})();
	</script>
	@RenderSection("Scripts", required: false)
</body>
</html>
