<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="google-site-verification" content="d0LQYgU_nopjTO9BhLkk6rcAJ-rRtWHprI-y9ircfQQ" />
    <meta name="theme-color" content="#e57373">
    <meta name="description" content="Looking for some relax with hot NSFW pictures? It's perfect place for You!">
    <meta name="rating" content="mature">
    <!--<link rel="icon" sizes="192x192" href="/path/to/icon.png">-->
    <!--<link rel="apple-touch-icon" href="/path/to/apple-touch-icon.png">-->
    <link rel="mask-icon" href="http://185.28.102.194/img/14.png" color="blue">
    <meta property="og:description" content="Looking for some relax with hot NSFW pictures? It's perfect place for You!">
    <meta property="article:author" content="Jakub Wichliski">
    <meta property="og:image" content="http://185.28.102.194/img/14.png">
    <meta property="og:locale" content="en_US">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@@KubaWichlinski">
    <meta name="twitter:creator" content="@@KubaWichlinski">
    <meta name="twitter:url" content="http://nsfwpics.pw">
    <meta name="twitter:title" content="NSFW pics">
    <meta name="twitter:description" content="Looking for some relax with hot NSFW pictures? It's perfect place for You!">
    <meta name="twitter:image" content="http://185.28.102.194/img/14.png">
    <link rel="me" href="mailto:kubawich45@gmail.com">
    <link rel="manifest" href="~/js/manifest.json">
    <base href="http://nsfwpics.pw/">
    <title>@ViewData["Title"] - NSFWpics</title>
    <environment include="Development">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114739201-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-114739201-1');
        </script>
        <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114739201-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-114739201-1');
        </script>
        <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">

        <div class="container nav-wrapper">
            <div class="navbar-header row hide-on-large-and-down">
                <span class="col s-2"></span>
                <a href="/" class="navbar-brand col s-6 waves-effect waves-light">NSFWpics</a>
                <div class="right">
                    <a asp-page="/Add" class="waves-effect waves-light red lighten-3 btn">Add</a>
                    <button class="waves-effect waves-light red lighten-3 btn">Best</button>
                    <button class="waves-effect waves-light red lighten-3 btn">Waiting</button>
                    <button class="waves-effect waves-light red lighten-3 btn">Random</button>
                </div>

            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script src="https://unpkg.com/vue" crossorigin="anonymous"></script>
        <script src="~/js/bundle.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script src="https://unpkg.com/vue" crossorigin="anonymous"></script>
        <script src="~/js/bundle.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
