@page 
@model NSFWpics.Pages.AddModel
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>
<br />
<form class="container" id="file_add">
    <div class="file-field input-field">
        <div class="btn">
            <span>File</span>
            <input type="file" multiple accept="image/*">
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Chose image to upload">
        </div>
    </div>
</form>
<br /><br />