@page

@model NSFWpics.Pages.AddModel
@{
    ViewData["Title"] = "Add";
}
<div class="container file_add" id="app2">
    <div class="container center-align">
        <h1 class="center-align">Add</h1>
    </div>
    <br />
    <form method="post" enctype="multipart/form-data">
        <div class="container">
            <div class="input-field col s12 container">
                <select name="UploadOption">
                    <option value="1">PNG/JPG/WEBP image</option>
                    <option value="2">GIF/APNG/WEBM video</option>
                </select>
                <label>Choose file type you'd like to upload</label>
            </div>
            <br />
            <div class="file-field input-field">
                <div class="btn blue lighten-1 waves-effect waves-light">
                    <i class="material-icons left">cloud</i>
                    <span>File</span>
                    <input type="file" asp-for="Upload">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" data-max-file-size="15MB" type="text" placeholder="Chose file to upload">
                </div>
            </div>
            <div class="preview">
                <p>No files currently selected for upload</p>
            </div>
            <div class="form-group">
                <!--https://www.pornhub.com/view_video.php?viewkey=ph57e1e4b49563f-->
                <div class="g-recaptcha" data-sitekey="6LeWRUoUAAAAAMt8nKaMFX62NzC-HFf8w6I7Z-sW"></div>
            </div>
           
            <div class="progress" style="opacity:0;" id="preloader">
                <br /><br />
                <blockquote>Wait until file's uploaded</blockquote>
                <div class="indeterminate"></div>
                <br /><br />
            </div>
            <br />
            <div class="btn light-green darken-1 waves-effect waves-light">
                <i class="material-icons left">cloud_upload</i>
                <input type="submit" id="btnUpload" value="Upload" onclick="showUpload()">
            </div>
        </div>
    </form>
</div>
<br /><br />
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    var input = document.querySelector('input');
    var preview = document.querySelector('.preview');
    input.addEventListener('change', updateImageDisplay);
    function updateImageDisplay() {
        while (preview.firstChild) {
            preview.removeChild(preview.firstChild);
        }
        var curFiles = input.files;
        if (curFiles.length === 0) {
            var para = document.createElement('p');
            para.textContent = 'No files currently selected for upload';
            preview.appendChild(para);
        } else {
            var list = document.createElement('ol');
            preview.appendChild(list);
            for (var i = 0; i < curFiles.length; i++) {
                var listItem = document.createElement('li');
                var para = document.createElement('p');
                if (validFileType(curFiles[i])) {
                    para.textContent = 'File name ' + curFiles[i].name + ', file size ' + returnFileSize(curFiles[i].size) + '.';
                    var image = document.createElement('img');
                    image.src = window.URL.createObjectURL(curFiles[i]);
                    listItem.appendChild(image);
                    listItem.appendChild(para);
                } else {
                    para.textContent = 'File name ' + curFiles[i].name + ': Not a valid file type. Update your selection.';
                    listItem.appendChild(para);
                }
                list.appendChild(listItem);
            }
        }
    }
    var fileTypes = [
        'image/jpeg',
        'image/pjpeg',
        'image/png'
    ]
    function validFileType(file) {
        for (var i = 0; i < fileTypes.length; i++) {
            if (file.type === fileTypes[i]) {
                return true;
            }
        }
        return false;
    }
    function returnFileSize(number) {
        if (number < 1024) {
            return number + 'bytes';
        } else if (number > 1024 && number < 1048576) {
            return (number / 1024).toFixed(1) + 'KB';
        } else if (number > 1048576) {
            return (number / 1048576).toFixed(1) + 'MB';
        }
    }
</script>

