@page
@model IndexModel
@using System.IO;
@{
    ViewData["Title"] = "Home page";
}
<div id="app">
    <br />
    <div class="row ">
        <ul class="pagination center-align">
            <li class="active"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="/2">2</a></li>
            <li class="waves-effect"><a href="/3">3</a></li>
            <li class="waves-effect"><a href="/4">4</a></li>
            <li class="waves-effect"><a href="/5">5</a></li>
            <li class="waves-effect"><a href="/6">6</a></li>
        </ul>
    </div>
    <br />
    @*Display elements from db*@
    @* @for (int i = 0; i < 10; i++)
        {

            @foreach (var item in Model.List())
            {
                @Html.DisplayFor(modelItem => item[i])<br />
                <br />
            }
        }*@
    <div class="container center-align">
        @for (int i = 1; i <= 10; i++)
        {
            <div class="row  container">
                <span id="feed" class="col offset-s5 offset-m6 offset-l6 offset-xl7">
                    <span id="points">{{ message }}</span>
                    <plus class="btn-floating btn-large waves-effect waves-light light-green"><i class="material-icons">thumb_up</i></plus>
                    <minus class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">thumb_down</i></minus>
                </span>
                <br /><br />
                <img class="materialboxed col offset-s1 offset-m2 offset-l3 center-align" src="@String.Format($"http://185.28.102.194/img/{i}.png")" />
                <br /><br /><br /><br />
            </div>
            <br /><br /><br />
        }
    </div>
    <div class="row ">
        <ul class="pagination center-align">
            <li class="active"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="/2">2</a></li>
            <li class="waves-effect"><a href="/3">3</a></li>
            <li class="waves-effect"><a href="/4">4</a></li>
            <li class="waves-effect"><a href="/5">5</a></li>
            <li class="waves-effect"><a href="/6">6</a></li>
        </ul>
    </div>
    <br />
</div>
