@page
@model IndexModel
@using System.IO;
@{
    ViewData["Title"] = "Home page";
}
<div id="app">
    <br />
    <div class="row ">
        <ul class="pagination center-align">
            <li class="active"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="/2">2</a></li>
            <li class="waves-effect"><a href="/3">3</a></li>
            <li class="waves-effect"><a href="/4">4</a></li>
            <li class="waves-effect"><a href="/5">5</a></li>
            <li class="waves-effect"><a href="/6">6</a></li>
        </ul>
    </div>
    <br />
    @*Display elements from db*@
    @* @for (int i = 0; i < 10; i++)
        {

            @foreach (var item in Model.List())
            {
                @Html.DisplayFor(modelItem => item[i])<br />
                <br />
            }
        }*@
    <div class="container center-align">
        @for (int i = 10; i <= 20; i++)
        {
            <div class="row" id="content_element">
                <h4 class="col left ">#@(i-9)</h4>
                <span id="feed" class="col right">
                    <span id="points">{{ points }}</span>
                    <button v-on:click="points += 1"  asp-controller="IndexController" asp-action="Plus" class="btn-floating btn-large waves-effect waves-light light-green"><i class="material-icons">thumb_up</i></button>
                    <button v-on:click="points -= 1" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">thumb_down</i></button>
                </span>
                <br /><br />
                <img class="materialboxed col center-align " src="@String.Format($"http://185.28.102.194/img/{i}.png")" />
                <br /><br /><br /><br />
            </div>
            <br /><br /><br />
        }
    </div>
    <div class="row ">
        <ul class="pagination center-align ">
            <li class="active"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="/2">2</a></li>
            <li class="waves-effect"><a href="/3">3</a></li>
            <li class="waves-effect"><a href="/4">4</a></li>
            <li class="waves-effect"><a href="/5">5</a></li>
            <li class="waves-effect"><a href="/6">6</a></li>
        </ul>
    </div>
    <br />
</div>
