@page
@model NSFWpics.Pages.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Site in maintance, come back later</title>
</head>
<body>
</body>
</html>
