@page 
@model NSFWpics.Pages.LoginModel
@{
	 ViewData["Title"] = "Login";
}
<script>

	if (this.window.location.search.substring(1) == "loged=true") {
		alert("Login succeeded");
	} else if (this.window.location.search.substring(1) == "") {
	}else
		alert("Login failure");
</script>
<div class="container row">
	<!--Login Form-->
	<form asp-antiforgery="true" method="post" class="col s12 m6" enctype="multipart/form-data" action="/api/users/login" >
		<h1 class="center-align">Login</h1></br>

		<input type="text" asp-for="LoginLogin" id="Login" required name="login"/>
		<label for="Login">Login</label>

		<input type="password" asp-for="LoginPassword" id="Password" required name="password"/>
		<label for="Password">Password</label><br /><br />

		<div class="btn  blue lighten-1  waves-effect waves-light col s12 m5" id="upload_button">
			<span>Login</span>
			<input type="submit" id="btnUpload" value="" style="min-width: 100%; min-block-size: -webkit-fill-available; min-height: 100%; position: absolute; right: 0px;">
		</div>
	</form>

	<!--Registration Form-->
	<form asp-antiforgery="true" method="post" class="col s12 m6" enctype="multipart/form-data" action="/api/user/register">
		<h1 class="center-align">Register</h1></br>

		<input type="text" id="RegLogin" required name="login"/>
		<label for="RegLogin">Login</label>

		<input type="password" id="RegPassword" required name="password"/>
		<label for="RegPassword">Password</label>

		<input type="email" id="RegMail" required name="mail"/>
		<label for="RegMail">E-mail</label><br /><br />

		<div class="btn  blue lighten-1 waves-effect waves-light col s12 m5" id="upload_button">
			<span>Register</span>
			<input type="submit" id="btnUpload" value="" style="min-width: 100%; min-block-size: -webkit-fill-available; min-height: 100%; position: absolute; right: 0px;">
		</div>
	</form>
</div>



