@page "{id:int?}"
@model NSFWpics.Pages.RandomModel
@{
    ViewData["Title"] = "Random";
}

<br />
<div id="app">
    <div class="container center-align">
        <!--Exo network ads-->
        <p id="img_tags" class="center-align">Advertisement</p>
        <script type="text/javascript">
            var ad_idzone = "2935176",
                ad_width = "300",
                ad_height = "50";
        </script>
        <script type="text/javascript" src="https://ads.exosrv.com/ads.js"></script>
        <noscript><a href="https://main.exosrv.com/img-click.php?idzone=2935176" target="_blank"><img src="https://syndication.exosrv.com/ads-iframe-display.php?idzone=2935176&output=img&type=300x50" width="300" height="50"></a></noscript>
        <div class="row z-depth-5" id="content_element">
            <span id="h" class="col left ">
                <a href="http://nsfwpics.pw/img/view/@Model.Image.Id">#@Model.Image.Id</a>

            </span>
            <span id="feed" class="col right">
                <span id="points">{{ points }}</span>
                <button v-on:click="points += 1" class="btn-floating btn-large waves-effect waves-light light-green"><i class="material-icons">thumb_up</i></button>
                <button v-on:click="points -= 1" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">thumb_down</i></button>
            </span>
            <br /><br />
            <img class="col center-align " src="@Model.Image.Uri" alt="@Model.Image.Uri" />
            <br />
            <span id="img_tags">
                By @Model.Image.Author at @Model.Image.Date
            </span>
            <br />
        </div>
        <br /><br />
        <!--Exo network ads-->
        <p id="img_tags" class="center-align">Advertisement</p>
        <script type="text/javascript">
            var ad_idzone = "2935150",
                ad_width = "300",
                ad_height = "50";
        </script>
        <script type="text/javascript" src="https://ads.exosrv.com/ads.js"></script>
        <noscript><a href="https://main.exosrv.com/img-click.php?idzone=2935150" target="_blank"><img src="https://syndication.exosrv.com/ads-iframe-display.php?idzone=2935150&output=img&type=300x50" width="300" height="50"></a></noscript>
    </div>
</div>
</br></br>


